body, html{
    margin:0;
    padding:0;
}
body{
    font-family: "Avenir Next", "Avenir", sans-serif;
  margin:0;
  height:100%;
  width:100% !important;
   background: url("../img/bg-road.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-right:0!important;
  overflow-x: hidden !important;
}
nav{
  background-color: #292929;
  height:60;
  margin: 0;

}
.logo{
  float:right;
}
.container{
  height:100%;
  margin-bottom:50px;
}
.nav-link{
  font-size:1.5rem;
  color:#d6d6d6;
  text-decoration: none;
  margin-left:20px;
  padding:20px;

}
.center-me-vertically{
line-height: 200px;
 vertical-align: middle;
}
.epost-link{
  text-decoration:none;
  color: #ffb121;
}
.epost-link:hover{
  text-decoration:none;
  color: #ffbe45;
}
.mainheader{
  text-align:center;
  font-size:3.5rem;

}
.col2{
  margin-top:40px;
  height:50px;
}
.nav-link:hover{
  color:white;
  text-decoration: none;
}
.header-container{

}
.mainheader{
  min-width:300px;
  padding:40px;
  background:rgba(245, 209, 66, 0.89) ;
  margin-right:300px;
  margin-left:300px;
border-radius:40px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #c49e06;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #edc00c;
}
.form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width:50%;
  margin-left:auto;
  margin-right:auto;
}
.pickupTime{
  width:100%!important;
  float:left;

}
.datoinput{
  width:30%;
  margin-left:50px;

}
.input-for-date{
  width:40%;

}
label{
  display:inline-block;
  width:80px;
}
.main-container{
  overflow-x:hidden;
  min-height:800px;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212121;
  color: white;
  text-align:center;
  clear: both;
    position: relative;
    height: 200px;
    margin-top: 200px;

}
.col{
  width:25%;
  position:relative;
  height:100%;
}
.left{
  float:left;
}
.right{
  float:right;

}
.center{
  margin-right:auto;
  margin-left:auto;
}

@media only screen and (max-height: 400px) {
.container{
  margin-bottom:400px;
}
}
@media only screen and (max-height: 300px) {
.container{
  margin-bottom:600px;
}
}

@media only screen and (min-width: 931px) {
  .logo{
    margin-top:40px;
    margin-right:40px;
  }
  #menuToggle
  {
    display: inline;
    position: relative;
    top: 20px;
    left: 30px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }
ul{

  list-style-type: none;
  margin: 0;
padding: 0;

}
li {
float: left !important;
position: relative;
margin-left:40px;
margin-top:40px;
}
li a {
display: block;
color: white;
text-align: center;
padding: 16px;
text-decoration: none;
}
.menu-box-check{
display:none;
}
.navbar{
height:180px;
}
.navlink{}
  .datoinput{
    width:30% !important;
    margin-left:50px !important;

  }
  .input-for-date{
    width:40%;

  }
}


@media screen and (max-width: 930px) {
body
{
margin: 0;
padding: 0;
overflow-x:hidden;
}
.main-container{
  overflow-x:hidden;
  min-height:800px;
}

a
{
text-decoration: none;
color: #232323;

transition: color 0.3s ease;
}

a:hover
{
color: tomato;
}
.menu-box-check{
display:block;
}
#menuToggle
{
display: block;
position: relative;
top: 20px;
left: 30px;

z-index: 1;

-webkit-user-select: none;
user-select: none;
-webkit-animation: fadein 1s ease-in;
      -moz-animation: fadein 1s ease-in;
           animation: fadein 1s ease-in;
}
@-webkit-keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
nav{
  height:100px !important;
}
#menuToggle input
{
display: block;
width: 40px;
height: 32px;
position: absolute;
top: -7px;
left: -5px;

cursor: pointer;

opacity: 0; /* hide this */
z-index: 2; /* and place it over the hamburger */

-webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menuToggle span
{
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;

background: #4a4a4a;
border-radius: 3px;

z-index: 1;

transform-origin: 4px 0px;

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
          background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
          opacity 0.55s ease;
}

#menuToggle span:first-child
{
transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
transform-origin: 0% 100%;
}

/*
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span
{
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
background: #232323;
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2)
{
transform: rotate(-45deg) translate(0, -1px);
}

/*
* Make this absolute positioned
* at the top left of the screen
*/
#menu
{
position: absolute;
width: 300px;
margin: -100px 0 0 -50px;
height:100vh;
padding: 50px;
padding-top: 125px;

background: #4a4a4a;
list-style-type: none;
-webkit-font-smoothing: antialiased;
/* to stop flickering of text in safari */

transform-origin: 0% 0%;
transform: translate(-100%, 0);

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
padding: 10px 0;
font-size: 22px;
}

/*
* And let's slide it in from the left
*/
#menuToggle input:checked ~ ul
{
transform: none;
}
.header-container{

}
.mainheader{
  padding:10px;
  font-size:2rem;
  min-width:150px !important;
  max-width:150px !important;
  background-color:rgb(245, 209, 66,0.6) ;
  margin-right:auto !important;
  margin-left:auto !important;
border-radius:40px;
}
.pickupTime{
  width:100%!important;
  float:none;

}
.datoinput{
  width:100% !important;
  margin-left: 0 !important;


}label{
  display:block;
  width:80px;
}
.input-for-date{
  width:100% !important;
}

.center-me-vertically{
  margin-top:40px;
  line-height:30px;
  text-align:center;
}
}
